@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,700&display=swap");
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
}

h1 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 500;
}
@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 3.2rem;
  }
}

input {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
}
@media only screen and (min-width: 37.5em) {
  input {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 37.5em) {
  input {
    font-size: 2.4rem;
  }
}

.info p {
  text-align: center;
}
@media only screen and (min-width: 37.5em) {
  .info p {
    text-align: left;
  }
}
.info__title {
  text-transform: uppercase;
  color: #969696;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}
@media only screen and (min-width: 37.5em) {
  .info__title {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .info__title {
    font-size: 1.2rem;
  }
}
.info__content {
  font-weight: 700;
  font-size: 1.6rem;
}
@media only screen and (min-width: 37.5em) {
  .info__content {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 56.25em) {
  .info__content {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 37.5em) {
  .container {
    max-width: 900px;
  }
}
@media only screen and (min-width: 56.25em) {
  .container {
    max-width: 1440px;
  }
}

.header {
  background-image: url(../../assets/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 29rem;
}
.header__heading {
  margin: 3rem auto;
}
.header__items {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 37.5em) {
  .header__items {
    width: 80%;
  }
}
@media only screen and (min-width: 56.25em) {
  .header__items {
    width: 50%;
  }
}
.header__items-form {
  width: 100%;
}
.header__items-form-input {
  margin-right: auto;
  width: 100%;
  padding: 1.8rem;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.header__items-form-input:focus {
  outline: none;
}
.header__items-btn {
  margin-left: auto;
  background-color: #2b2b2b;
  padding: 3rem;
  background-image: url("../../assets/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media only screen and (min-width: 37.5em) {
  .header__items-btn {
    padding: 3.3rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .header__items-btn {
    padding: 3.3rem;
  }
}

.info {
  margin-top: -10rem;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  width: 85%;
  position: absolute;
  left: 50%;
  top: 29rem;
  transform: translateX(-50%);
  z-index: 500;
}
@media only screen and (min-width: 37.5em) {
  .info {
    width: 80%;
  }
}
@media only screen and (min-width: 56.25em) {
  .info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
  }
}
.info div {
  margin-top: 2rem;
  text-align: center;
}
@media only screen and (min-width: 56.25em) {
  .info div:not(:last-child) > .info__content {
    border-right: 1px solid #969696;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .info div {
    margin-top: 0;
    padding: 1rem;
    flex: 1 1 0px;
  }
}
@media only screen and (min-width: 56.25em) {
  .info div {
    margin-top: 0;
    flex: 1 1 0px;
  }
}
.info div p {
  overflow-wrap: break-word;
  text-align: center;
}
@media only screen and (min-width: 56.25em) {
  .info div p {
    text-align: left;
    padding-top: 1rem;
  }
}
.info div:last-child {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .info div:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 56.25em) {
  .info div:last-child {
    margin-bottom: 0;
  }
}

.map {
  height: calc(100vh - 29rem);
}
