.info {
  margin-top: -10rem;
  border: none;
  border-radius: 10px;
  background-color: $white;
  width: 85%;
  position: absolute;
  left: 50%;
  top: 28rem;
  transform: translateX(-50%);
  z-index: 500;

  & div {
    margin-top: 2rem;
  }

  & div:last-child {
    margin-bottom: 2rem;
  }
}
